.add-dash-form {
    position: relative;
    display: flex;
    margin: 15px 0px 0 0px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.add-dash-input{
    border-radius: 5px;
    padding: 10px;
	font-size: 13px;
	border: 3px solid rgb(150, 213, 241);
	text-transform: uppercase;
	box-shadow: none;
    width: 80%;
    outline: 0;
}
.add-dash-input:hover {
    background-color: #cdd2d4;
}
.add-dash-icon {
    cursor: pointer;
    background: #7f8ff4;
    color: #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 5px 15px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 10;
    position: absolute;
}
.add-dash-icon:hover {
    background: #6c7ff2;
  }