
body {
  background: #eceef1;
  margin: 0;
}

.app {
    width: 100%;
    display: flex;
}
.dash_container {
    width: 200px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
}
.dash_header {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash_title {
    color: #404347;
    font-family: "Yesteryear", cursive;
    font-weight: 500;
}
.dash_cards {
    margin-top: 20px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dash_card {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: 10px;
    font-size: .8em; 
    background: whitesmoke;
    position: relative;
}
.edit-icon {
    color: teal;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}
.trash-icon{
    color: crimson;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}
.dash_Body {
    display: flex;
    flex-direction: column;
    width: 100%;
}