:root {
    font-size: 10px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #586ba4;
}
.form-container {
	width: 190px;
	max-height: 60vh;
    min-height: 60vh;
	margin-top: 20px !important;
    border-radius: 5px;
    background-color: #e2e4e6;
    margin: 0px 5px 0 20px;
	position: relative;
}
.column-title {
	display: flex;
	align-content: center;
	font-size: 18px;
    color: #333;
    padding: 15px 0 0 15px;
	text-transform: uppercase;
}

.column-input {
    color: #333;
	margin: 10px 0 -8px 10px;
	font-size: 15px;
	width: 60%;
	border: 3px solid rgb(150, 213, 241);
	border-radius: 5px;
	text-transform: uppercase;
	box-shadow: none;
	font-weight: 600;
	height: 30px;
	text-align: center;
}

.remove-column-icon {
	font-size: 15px;
    position: absolute;
    top: 0;
    right: 0px;
	bottom: 0;
    margin: 20px 10px 0 0;
}
.edit-column-icon {
	font-size: 15px;
    position: absolute;
    right: 30px;
	top: 0;
	bottom: 0;
    margin: 20px 0 0 0;
}
.save-column-icon {
	font-size: 15px;
    position: absolute;
	bottom: 0;
    right: 30px;
    margin: 20px 0 0 0;
	top: 0;
}
.column-actions {
	visibility: hidden;
}
.form-container:hover .column-actions {
    visibility: visible;
    

}
