.formColumn {
	/* width: 25%; */
	margin: 5px;
	border-radius:10px;
	background: #E3E5EB;
    font-family: 'Open Sans', sans-serif;
}

.formColumn_input {
	font-size: 15px;
	padding: 5px 0 5px;
	margin-left: 10px;
	text-transform: uppercase;
    outline: none;
    margin: 0px;
	border: 1px solid #ddd;
	background: rgb(243, 242, 242);
	border-radius: 3px;
}

.formColumn_title {
	font-size: 20px;
}
.save-icon {
	color: teal;
    position: absolute;
    bottom: 0;
    right: 30px;
	top: 0;
    margin: 10px;
}

.editColumn_icon {
	color: teal;
    position: absolute;
    bottom: 0;
    right: 30px;
	top: 0;
    margin: 10px;
}

.deleteColumn-icon {
	color: crimson;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}