@import url(https://fonts.googleapis.com/css?family=Roboto);

.main_Nav {
    background-color: #e2e4e6;
}
.main_NavBar {
    display: flex;
    list-style: none;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
.main_Nav_Title {
    margin-left: auto;  
    padding: 20px;
}

.main_Nav_Logout {
    margin-left: auto;
    padding: 20px; 
    margin-right: 0;
}
.main_Nav_User {
    border-radius: 50px;
    height: 15px;
    margin: 10px;
}
.main_nav_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #8fa3af;
}

.main_Nav_Home {
    font-family: 'Roboto';
    padding: 20px;
    transition-duration: 0.4s;
}

span, a {
    font-family: 'Roboto';
    text-decoration: none;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 600;
}
.nav-header a:hover, .nav-header span:hover, nav-header:hover {
    border: none;
    height: 0px;
    padding-bottom: 15px;
    border-radius: 2px;
    border-bottom: 5px solid #333;
} 

