.container {
    background-color: rgb(241, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container_auth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 80vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 lavender;
}