.task-list{
    position: relative;
}
.actions {
    visibility: hidden;
}
.task-list:hover .actions {
    visibility: visible;
}


.remove-task-icon {
    font-size: 15px;
    position: absolute;
	bottom: 0;
    right: 15px;
    margin: 10px 0 0 0;
	top: 0;
}
.edite-task-icon {
    font-size: 15px;
    position: absolute;
	bottom: 0;
    right: 35px;
    margin: 10px 0 0 0;
	top: 0;
}
.save-task-icon {
    font-size: 15px;
    position: absolute;
	bottom: 0;
    right: 35px;
    margin: 10px 0 0 0;
	top: 0;
}
.task-input-title, .task-input-title-descripcion{
    color: #333;
	margin: 5px 0 0px 15px;
	font-size: 13px;
	width: 60%;
	border: 3px solid rgb(150, 213, 241);
	border-radius: 5px;
	text-transform: uppercase;
	box-shadow: none;
	font-weight: 600;
}