.taskList {
    background: #fff;
	align-items: center;
	border-radius: 10px;
    padding-top: 1px;
	/* width: 90%; */

}
.taskList_container{
    position: relative;
    margin: 5px;
    /* width: 60%; */
}
.taskList_title {
    /* background-color: brown; */
    margin: 15px 15px 15px 5px;
    cursor: move;
}
.taskEdit_Icon{
    position: absolute;
    bottom: 0;
    right: 30px;
	top: 0;
}
.taskDelete_Icon {
    position: absolute;
    bottom: 0;
    right: 0px;
	top: 0;
}
.taskList_box {
    background-color: red;
    width: 100%;
}